
{% extends "user_pages/base.html" %}
{% block style %}
#profile-image-placeholder {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    border:1px solid black;
    font-weight: bold;
    cursor:pointer;
}
{% endblock style %}
{% block content %}
<div class="right">
    <!--start of Post-->
    {% for post in posts  %}
    
        <!-- Start of Post -->
         
        <div class="post">
            <div class="post-head">
                <div class="post-profile" onclick="window.location='/user_dash/user_profile'">
                    {% if post.student.profile_image %}
                    <img src="{{ post.student.profile_image.url }}"  class="post-profile-img" alt="Profile Picture">
                    <div class="post-profile-name">{{post.student.name}}:{{post.student}}</div>
                    {% else %}
                    <div id="profile-image-placeholder">
                        {{ post.student.name|slice:":2"|upper }} <!-- First two letters of the student's name -->
                    </div>
                    <div class="post-profile-name">{{post.student.name}}:{{post.student}}</div>
                    {% endif %}
                    
                </div>
                <div class="post-menu">
                    <div class="post-menu-icon" onclick="fun1()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                            <path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z" />
                        </svg>
                        
                        <div id="post-menu-table">
                            <ul>
                                <li><a href="# " style="text-decoration: none;color:black;">About</a></li> 
                                <li><a href="#" style="text-decoration: none;color:red">Report</a></li>
                                <li onclick="fun()">Cancel</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Post Image -->
            <div class="post-body"><img src="{{post.image.url}}"  alt="Post Image"></div>
            {% comment %} <p>{{post.content}}</p> {% endcomment %}
            <div class="post-foot">
                <div class="post-like">
                    <svg class="like" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24px" height="24px">
                        <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                    </svg>
                    <div class="post-likes-num">120000 <span>Likes</span></div>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}